/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  project_name            = 'chipimp'
  project_description     = 'A simple imputation run on chrm 6 distributed with git repo'
  outDir                  = "output/${project_name}" // outDir: where to put all pipeline's outputs
  help                    = false
  max_memory = 2.GB
  max_cpus = 2
  max_time = 48.h

  datasets = [
    ["h3achip_snp2hla", "1kg_Gwd", "/cbio/projects/001/clients/hlaimpute/datasets/trial/h3a_mhc_hg18.vcf.gz", 
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_gambian_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_gambian_info.txt"
      ],
    ["omnichip_snp2hla", "1kg_Gwd", "/cbio/projects/001/clients/hlaimpute/datasets/trial/omni_mhc_hg18.vcf.gz", 
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_gambian_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_gambian_info.txt"
     ],
    ["h3achip_snp2hla", "1kg_All", "/cbio/projects/001/clients/hlaimpute/datasets/trial/h3a_mhc_hg18.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_1kg_all_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_1kg_all_info.txt"
     ],
    ["omnichip_snp2hla", "1kg_All", "/cbio/projects/001/clients/hlaimpute/datasets/trial/omni_mhc_hg18.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_1kg_all_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_1kg_all_info.txt"
     ],
    ["h3achip_snp2hla", "1kg_Afr", "/cbio/projects/001/clients/hlaimpute/datasets/trial/h3a_mhc_hg18.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_africans_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_africans_info.txt"
     ],
    ["omnichip_snp2hla", "1kg_Afr", "/cbio/projects/001/clients/hlaimpute/datasets/trial/omni_mhc_hg18.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_africans_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_africans_info.txt"
     ],
    ["h3achip_snp2hla", "H3Africa", "/cbio/projects/001/clients/hlaimpute/datasets/trial/h3a_mhc_hg18.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_H3Africa_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/h3a_H3Africa_info.txt"
     ],
    ["omnichip_snp2hla", "H3Africa", "/cbio/projects/001/clients/hlaimpute/datasets/trial/omni_mhc_hg18.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_H3Africa_IMPUTED.vcf.gz",
      "/scratch3/users/nanje/hlatyping/results/my-results/SNP2HLA_INFO/omni_H3Africa_info.txt"
     ],
    ["h3achip_impute5", "1kg_Gwd", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp_imp5.vcf.gz", 
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Gwd/h3a_mhc_ggvp_imp5____qc_ac_1kg_Gwd_phased_h3achip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Gwd/h3achip_6_27480131-34443922.txt"
      ],
    ["omnichip_impute5", "1kg_Gwd", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp_imp5.vcf.gz", 
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Gwd/omni_mhc_ggvp_imp5____qc_ac_1kg_Gwd_phased_omnichip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Gwd/omnichip_6_27480131-34443922.txt"
     ],
    ["h3achip_impute5", "1kg_All", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp_imp5.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_All/h3a_mhc_ggvp_imp5____qc_ac_1kg_All_phased_h3achip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_All/h3achip_6_27480131-34443922.txt"
     ],
    ["omnichip_impute5", "1kg_All", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp_imp5.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_All/omni_mhc_ggvp_imp5____qc_ac_1kg_All_phased_omnichip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_All/omnichip_6_27480131-34443922.txt"
     ],
    ["h3achip_impute5", "1kg_Afr", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp_imp5.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Afr/h3a_mhc_ggvp_imp5____qc_ac_1kg_Afr_phased_h3achip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Afr/h3achip_6_27480131-34443922.txt"
     ],
    ["omnichip_impute5", "1kg_Afr", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp_imp5.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Afr/omni_mhc_ggvp_imp5____qc_ac_1kg_Afr_phased_omnichip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/1kg_Afr/omnichip_6_27480131-34443922.txt"
     ],
    ["h3achip_impute5", "H3Africa", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp_imp5.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/H3Africa/h3a_mhc_ggvp_imp5____qc_ac_H3Africa_phased_h3achip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/H3Africa/h3achip_6_27480131-34443922.txt"
     ],
    ["omnichip_impute5", "H3Africa", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp_imp5.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/H3Africa/omni_mhc_ggvp_imp5____qc_ac_H3Africa_phased_omnichip_6_27480131-34443922.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output_impute5/imputed/impute5/H3Africa/omnichip_6_27480131-34443922.txt"
     ],
    ["h3achip_minimac4", "H3Africa", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/H3Africa/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_H3Africa_phased_H3a_ggvp_study_6_27479601-34444100_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/H3Africa/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_H3Africa_phased_H3a_ggvp_study_6_27479601-34444100_imputed.info"
      ],
    ["omnichip_minimac4", "H3Africa", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/H3Africa/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_H3Africa_phased_Omni_ggvp_study_6_27479601-34448315_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/H3Africa/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_H3Africa_phased_Omni_ggvp_study_6_27479601-34448315_imputed.info"
    ],
    ["h3achip_minimac4", "1kg_All", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_All/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_1kg_All_phased_H3a_ggvp_study_6_27479601-34444100_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_All/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_1kg_All_phased_H3a_ggvp_study_6_27479601-34444100_imputed.info"
      ],
    ["omnichip_minimac4", "1kg_All", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_All/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_1kg_All_phased_Omni_ggvp_study_6_27479601-34448315_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_All/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_1kg_All_phased_Omni_ggvp_study_6_27479601-34448315_imputed.info"
    ],
    ["h3achip_minimac4", "1kg_Afr", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Afr/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_1kg_Afr_phased_H3a_ggvp_study_6_27479601-34444100_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Afr/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_1kg_Afr_phased_H3a_ggvp_study_6_27479601-34444100_imputed.info"
      ],
    ["omnichip_minimac4", "1kg_Afr", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Afr/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_1kg_Afr_phased_Omni_ggvp_study_6_27479601-34448315_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Afr/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_1kg_Afr_phased_Omni_ggvp_study_6_27479601-34448315_imputed.info"
      ],
    ["h3achip_minimac4", "1kg_Gwd", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Gwd/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_1kg_Gwd_phased_H3a_ggvp_study_6_27479601-34444100_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Gwd/H3a_ggvp_study/h3a_mhc_ggvp____qc_ac_1kg_Gwd_phased_H3a_ggvp_study_6_27479601-34444100_imputed.info"
      ],
    ["omnichip_minimac4", "1kg_Gwd", "/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Gwd/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_1kg_Gwd_phased_Omni_ggvp_study_6_27479601-34448315_imputed.dose.vcf.gz",
      "/scratch3/users/nanje/chipimputation/chipimputation/output/hlaimputation/imputed/1kg_Gwd/Omni_ggvp_study/omni_mhc_ggvp____qc_ac_1kg_Gwd_phased_Omni_ggvp_study_6_27479601-34448315_imputed.info"
      ]
  ]

  ref = [
    ["1kg_All", "/cbio/projects/001/clients/hlaimpute/datasets/1kg_All_edited_hla.vcf.gz"],
    ["1kg_Afr", "/cbio/projects/001/clients/hlaimpute/datasets/1kg_Afr_hla.vcf.gz"],
    ["1kg_Gwd", "/cbio/projects/001/clients/hlaimpute/datasets/1kg_Gwd_hla.vcf.gz"],
    ["H3Africa", "/cbio/projects/001/clients/hlaimpute/datasets/h3a_africans_edited_hla.vcf.gz"]
  ]

  maf_thresh = "0"

  // Genetic map for eagle2
  eagle_genetic_map = "/cbio/users/mamana/reference/eagle/tables/genetic_map_hg19_withX.txt.gz"

  // Reference genome used for QC
  reference_genome  = "/cbio/users/mamana/reference/gatk_bundle/human_g1k_v37_decoy.fasta"

  // List chromosomes to be used. chr22 for b38. Use ALL or '' to use all available chromosome in the target dataset
  chromosomes = "6,21,22"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2" // must be less than impute_burnin
  impute_info_cutoff = "0.3"
  chunk_size = "50000000" // in base
  buffer_size = "1000000" // in base

  // QC parameters
  site_miss                = "0.05"
  hwe			  = "0.00001"
  mac			  = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'

  // Phasing method: shapeit (default) or eagle2
  phasing_method          = "eagle"

  // Imputation method minimac4 (default) or IMPUTE2
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.001'

  // Phasing method: eagle2 (default) or shapeit
  phasing_method          = "eagle"

  // Plink to use, sometimes it can be plink2
  plink="plink2"

  // Email
  email = ''

}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_timeline.html"
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_report.html"
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_trace.txt"
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_dag.png"
}

process {
// Process-specific resource requirements
  withLabel: 'medium' {
    // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
    memory = 50.GB
    cpus = 4
  }
  withLabel : 'bigmem' {
    // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
    memory = 1.GB
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} "
  }
  slurm {
    queueSize = 10
  }
  test {
    queueSize = 10
  }
}
