config = ''

manifest {
    homePage = 'https://github.com/'
    description = ''
    mainScript = 'imputation.nf'
}

params {
    // Directories
    homedir                 = "${HOME}/imputation"
    work_dir                = "/researchdata/fhgfs/mamana/imputation"
    impute_result           = "${work_dir}/impute_results"
    scripts                 = "${params.homedir}/scripts"

    // Reference data
    ref_dir                 = "/researchdata/fhgfs/mamana/1000genomes/1000G_OCT_2014/1000GP_Phase3"
    ref_hapFile             = "${ref_dir}/1000GP_Phase3_chr%s.hap.gz"
    ref_legendFile          = "${ref_dir}/1000GP_Phase3_chr%s.legend.gz"
    ref_mapFile             = "${ref_dir}/genetic_map_chr%s_combined_b37.txt"
    ref_sampleFile          = "${ref_dir}/1000GP_Phase3.sample"
    // chunk size in base
    chunk_size              = "1000000"

    // Data // in PLINK bed format
    bedFile                 = "${work_dir}/data/raw/SAN_prunned.bed"
    famFile                 = "${work_dir}/data/raw/SAN_prunned.fam"
    bimFile                 = "${work_dir}/data/raw/SAN_prunned.bim"
    chromosomes             = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
//    chromosomes             = "5,6"

    // Additional PBS parameters. Important to specify node series in clusters such as HPC at UCT. Leave blank if not need like series=''.
    series              = ":series600"
}

executor{
    jobName = { "$task.tag" }
}

profiles {
    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }
    local {
        params {
            //threadCounts = [ 4 ]
            //alignThreads = 4
            resultsDir = "results"
        }

        executor {
            name = "local"
            //cpus = 4
        }
        docker {
            enabled = false
        }
    }
    // For execution on a PBS scheduler, no containerization.
    pbs {
        process{
            executor        = 'pbs'
            queue           = 'UCTlong'
            memory          = 2.GB
            time            = 2.h
            maxRetries      = 10
            maxErrors       = 10000
            errorStrategy   = { if (task.exitStatus == 143) { 'retry' } else if (task.exitStatus == 137 ) { 'retry' } else { 'terminate' } }
            scratch         = "${params.work_dir}/TMP/"
        }
    }
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
