manifest {
    homePage = 'https://github.com/h3abionet/chipimputation/'
    description = ''
    mainScript = 'imputation.nf'
}

  imputeImage = "h3abionet_org/impute2"

params{
  plink="plink --memory 8000"
}

profiles {
    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }
    local {
        params {
            //threadCounts = [ 4 ]
            //alignThreads = 4
            resultsDir = "results"
        }
        executor {
            name = "local"
            //cpus = 4
        }
        docker {
            enabled = false
        }
    }
    // For execution on a PBS scheduler, no containerization.
    pbs {
        process{
            queue           = 'batch'
            memory          = 4.GB
            cpus            = 2
            time            = 96.h
            maxRetries      = 2
            maxErrors       = 10
            scratch         = 'true'
            errorStrategy   = 'retry'
            // errorStrategy   = { if (task.exitStatus == 143) { 'retry' } else if (task.exitStatus == 140 ) { 'retry' } else if (task.exitStatus == 137 ) { 'retry' } else { 'terminate' } }
            // TODO set scratch folder
        }
        executor {
            name      = 'pbs'
            queueSize = 200
        }
    }

    docker {
        process.executor    = 'local'
        process.container   = imputeImage
        docker.remove       = true
        docker.runOptions   = '--rm -u $(id -u):$(id -g)'
        docker.registry     = 'quay.io'
        docker.enabled      = true
        docker.temp         = 'auto'
        docker.fixOwnership = true
        docker.process.executor = 'local'
    }

}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Description: ${ params.project_description }"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
