manifest {
    homePage = 'https://github.com/h3abionet/chipimputation/'
    description = ''
    mainScript = 'imputation.nf'
}

params{
  plink="plink"
}

profiles {
    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }
    local {
        params {
            //threadCounts = [ 4 ]
            //alignThreads = 4
            resultsDir = "results"
        }

        executor {
            name = "local"
            //cpus = 4
        }
        docker {
            enabled = false
        }
    }
    // For execution on a PBS scheduler, no containerization.
    pbs {
        process{
            executor        = 'pbs'
            queue           = 'users'
            memory          = 2.GB
            cpus            = 1
            time            = 1.h
            maxRetries      = 5
            maxErrors       = 10000
            scratch         = 'true'
            errorStrategy   = 'retry'
            // errorStrategy   = { if (task.exitStatus == 143) { 'retry' } else if (task.exitStatus == 140 ) { 'retry' } else if (task.exitStatus == 137 ) { 'retry' } else { 'terminate' } }
            // TODO set scracth folder
        }
    }
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Description: ${ params.project_description }"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
