params {
    project_name             = 'tiny'
    project_description      = 'A simple IMPUTE2 run on the "tiny" test datasaset distributed with git repo'
    // Directories
    // homedir: Path to your script, where the nextflow main script is located
    homedir                 = "${HOME}/workspace/chipimputation"
    // outdir: where to put all pipeline's outputs
    output_dir              = "${params.homedir}/output/${project_name}"
    impute_result           = "${params.output_dir}/impute_results"
    scripts                 = "${params.homedir}/scripts"

    dataset {
      studyName = "tiny"
    }

    // Reference panel 1
    ref_1 {
        dir               = "${params.homedir}/sample/${dataset.studyName}/refs"
        name              = 'KGP_minus_YRI'
        sampleFile        = "${ref_1.dir}/1000GP_Phase3.sample"
        hapFile           = "${ref_1.dir}/tiny_ref.chr%s.hap.gz"
        legendFile        = "${ref_1.dir}/tiny_ref.chr%s.legend.gz"
        mapFile           = "${ref_1.dir}/genetic_map_chr%s_combined_b37.txt"
    }
    // Reference panel 2. Uncomment if you need two reference panels
    //ref_2 {
    //    dir               = "/researchdata/fhgfs/mamana"
    //    name              = 'CBIO'
    //    hapFile           = "${ref_2.dir}/AFRICA_CHIP/CHIP_FINAL_SET_SEPT_2016/REF_IMPUTE_H3A/HAP_CBIO_SANGER/CBIO/h3a_chr%s.hap.gz"
    //    legendFile        = "${ref_2.dir}/AFRICA_CHIP/CHIP_FINAL_SET_SEPT_2016/REF_IMPUTE_H3A/HAP_CBIO_SANGER/CBIO/h3a_chr%s.legend.gz"
    //    mapFile           = "${ref_1.dir}/1000G/HAP/1000GP_Phase3/genetic_map_chr%s_combined_b37.txt"
    //    sampleFile        = "${ref_2.dir}/AFRICA_CHIP/CHIP_FINAL_SET_SEPT_2016/REF_IMPUTE_H3A/VCF_CBIO_SANGER/CBIO/CBIO_updated.sample"
    //}
    eagle_genetic_map       = "${homedir}/tables/genetic_map_hg19_withX.txt.gz"

    // chunk size in base
    NE                      = "20000"
    impute_iter             = "10"
    impute_burnin           = "2"       // must be less than impute_burnin
    impute_info_cutoff      = "0.8"
    chunk_size              = "1000000"
    buffer_size             = "500" // in kb (NB 2*buffer plus chunk must be smaller than 7MB)

    // Data in PLINK bed format
    studyDir                = "${params.homedir}/sample/tiny/study"
    bedFile                 = "${studyDir}/tiny.yri.bed"
    famFile                 = "${studyDir}/tiny.yri.fam"
    bimFile                 = "${studyDir}/tiny.yri.bim"

    //chromosomes             = "ALL"
    chromosomes             = "20,22"

    // Plink QC parameters
    cut_mind                = "0.999"
    cut_geno                = "0.0001"
    cut_hwe                 = "1E-8"

    // Phasing method: shapeit (default) or eagle2
    phasing_method          = "eagle"
}

executor{
    jobName = { "$task.tag" }
}
