params {
  project_name            = 'hlaimputation'
  project_description     = 'A simple imputation run on chrm 6 distributed with git repo'
  outDir                  = "output/${project_name}" // outDir: where to put all pipeline's outputs
  help                    = false
  max_memory = 50.GB
  max_cpus = 5
  max_time = 96.h

  // Reference panels
  // Per chromosomes [name, m3vcf, vcf_or_bcf]
  // Replace chromosome with %s for string interpolation to use multiple chromosomes
  ref_panels = [
     //['Trypanogen',"/scratch3/users/nanje/chipimputation_evaluate_chips/results/trypanogen/m3vcfs/Eagle_%s.m3vcf.gz",
      //"/scratch3/users/nanje/chipimputation_evaluate_chips/John/Eagle_%s.vcf.gz"], 
      ['Ugandan', "/scratch3/users/nanje/chipimputation_evaluate_chips/results/Ugandan/m3vcfs/Ugandan_%s_phased.m3vcf.gz",
      "/scratch3/users/nanje/chipimputation_evaluate_chips/results/Ugandan/vcfs/Ugandan_%s_phased.vcf.gz"],
  ]
  combined_ref = [
      ['Ugandan', "/scratch3/users/nanje/chipimputation_evaluate_chips/results/Ugandan/vcfs/Ugandan_merged_sorted.vcf.gz"],
  ]

  combined_imputed = [
      ["Ugandan", "John_target", "/scratch3/users/nanje/chipimputation/chipimputation/work/28/1a22e891a90d3c18473e7d56315e1b/John_target_Ugandan_chr.imputed.vcf.gz"],
  ]

  // Study datasets
  target_datasets = [
    // ["cleandatanops", "/scratch3/users/nanje/chipimputation_evaluate_chips/John/target/cleandatanops2-updated3.vcf.gz"],
     ["John_target", "/scratch3/users/nanje/John/sample_1_22.vcf.gz"],
  ]

  // Genetic map for eagle2
  eagle_genetic_map = "/cbio/dbs/refpanels/eagle/tables/genetic_map_hg19_withX.txt.gz"

  // Reference genome used for QC
  reference_genome  = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta"

  // List chromosomes to be used. chr22 for b38. Use ALL or '' to use all available chromosome in the target dataset
  chromosomes = '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22'

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2" // must be less than impute_burnin
  impute_info_cutoff = "0.3"
  chunk_size = "20000000" // in base
  buffer_size = "1000000" // in base
  
  // QC parameters
  site_miss                = "0.05"
  hwe			  = "0.00001"
  mac			  = "1"
  min_ac = '2'
  min_alleles = '2'
  max_alleles = '2'

  // Phasing method: shapeit (default) or eagle2
  phasing_method          = "eagle"

  // Imputation method minimac4 (default) or IMPUTE2
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.1'

  // Phasing method: eagle2 (default) or shapeit
  phasing_method          = "eagle"

  // Plink to use, sometimes it can be plink2
  plink="plink2"

}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_timeline.html"
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_report.html"
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_trace.txt"
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/${params.project_name}_h3achipimputation_dag.png"
}

process {
// Process-specific resource requirements
  withLabel: 'medium' {
    errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
    memory = 10.GB
  }
  withLabel : 'bigmem' {
    errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
    memory = 70.GB
    time = { 24.h * task.attempt }
  }
}

profiles{
  singularity {
    singularity.runOptions = " -B ${HOME} "
  }
  slurm {
    queueSize = 100
  }
  test {
    queueSize = 10
  }
}
