/*
 * -------------------------------------------------
 *  Nextflow config file for AWS Batch
 * -------------------------------------------------
 * Imported under the 'awsbatch' Nextflow profile in nextflow.config
 * Uses docker for software depedencies automagically, so not specified here.
 */

//process.queue = params.awsqueue
process.executor = 'awsbatch'
process.queue = 'Batch'

process.container   = imputeImage
docker.registry     = 'quay.io'

//aws.region = params.awsregion
aws.region = 'us-east-1'

executor.awscli = '/home/ec2-user/miniconda/bin/aws'
params.tracedir = './'
aws.accessKey = 'xxx'
aws.secretKey = 'yyy'
