/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  project_name            = 'Test project'
  project_description     = 'A simple imputation run on the "tiny" test datasaset distributed with git repo'
  homedir                 = "${HOME}/imputation" // homedir: Path to your script, where the nextflow main script is located
  scripts                 = "${params.homedir}/scripts" // Scripts directory
  outDir                  = "./imputation/${project_name}" // outdir: where to put all pipeline's outputs
  help                    = false
  max_memory = 10.GB
  max_cpus = 2
  max_time = 48.h

  // Reference panels
  ref_panels {
    testRefPanel {
      // Per chromosomes
      m3vcfFile   = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/refPanelTestdata_chr6.m3vcf.gz"
      vcfFile     = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/refPanelTestdata_chr6.vcf.gz"
    }
  }

  // Study datasets
  target_datasets {
    targetStudy   = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/targetTestdata.vcf.gz"
  }

  // Genetic map for eagle2
  eagle_genetic_map = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/genetic_map_Testdata.txt.gz"

  // Reference genome used for QC
  reference_genome        = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/hg19Testdata.fasta"

  // Use ALL or '' to use all available chromosome in the target dataset
  chromosomes = "6"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2" // must be less than impute_burnin
  impute_info_cutoff = "0.8"
  chunk_size = "20000000" // in base
  buffer_size = "1000000" // in base

  // Plink QC parameters
  cut_mind                = "0.05"

  // Phasing method: shapeit (default) or eagle2
  phasing_method          = "eagle"

  // Imputation method minimac4 (default) or IMPUTE2
  impute_method           = "minimac4"

  // Minimac4 option
  minRatio = '0.1'

  // Phasing method: eagle2 (default) or shapeit
  phasing_method          = "eagle"

  // Plink to use, sometimes it can be plink2
  plink="plink2"

}

timeline {
  enabled = true
  file = "${params.outDir}/nextflow_reports/h3achipimputation_timeline.html"
}
report {
  enabled = true
  file = "${params.outDir}/nextflow_reports/h3achipimputation_report.html"
}
trace {
  enabled = true
  file = "${params.outDir}/nextflow_reports/h3achipimputation_trace.txt"
}
dag {
  enabled = true
  file = "${params.outDir}/nextflow_reports/h3achipimputation_dag.svg"
}

process {
// Process-specific resource requirements
  withLabel: 'medium' {
    errorStrategy = { task.exitStatus in [143, 137] ? 'retry' : 'ignore' }
    memory = 10.GB
  }
  withLabel : 'bigmem' {
    errorStrategy = { task.exitStatus in [127, 137] ? 'retry' : 'ignore' }
    memory = 50.GB
  }
}