/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  project_name            = 'three_samples'
  project_description     = 'A simple IMPUTE2 run on the "tiny" test datasaset distributed with git repo'
  homedir                 = "${HOME}/imputation" // homedir: Path to your script, where the nextflow main script is located
  scripts                 = "${params.homedir}/scripts" // Scripts directory
  outDir                  = "./imputation/${project_name}" // outdir: where to put all pipeline's outputs
  resultDir               = "${params.outDir}/impute_results" // Results main directory
  workDir                 = "${params.outDir}/work" // Nextflow working directory
  tmpDir                  = "/tmp" // Scratch folder to be used by nextflow when needed
  help                    = false

  // Reference panels
  ref_panels {
    testRefPanel {
      // Per chromosomes
      m3vcfFile   = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/refPanelTestdata_chr6.m3vcf.gz"
      vcfFile     = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/refPanelTestdata_chr6.vcf.gz"
    }
  }

  // Study datasets
  target_datasets {
    targetStudy   = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/targetTestdata.vcf.gz"
  }

  eagle_genetic_map = "$NXF_ASSETS/genetic_map_Testdata.txt.gz"

  chromosomes = "6"

  // imputation parameters
  NE = "20000"
  impute_iter = "10"
  impute_burnin = "2" // must be less than impute_burnin
  impute_info_cutoff = "0.8"
  chunk_size = "20000000" // in base
  buffer_size = "1000000" // in base

  // Plink QC parameters
  cut_mind                = "0.05"

  // Phasing method: shapeit (default) or eagle2
  phasing_method          = "eagle"

  // Reference genome used for QC
  reference_genome        = "https://github.com/h3abionet/chipimputation/raw/test_data/testdata_imputation/hg19Testdata.fasta"

  // Imputation method minimac4 (default) or IMPUTE2
  impute_method           = "minimac4"
  // Phasing method: eagle2 (default) or shapeit
  phasing_method          = "eagle"

  // Plink to use, sometimes it can be plink2
  plink="plink"

  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
}
