sample population group sex
REF1 POP GRP 2
REF2 POP GRP 2
REF3 POP GRP 1
REF4 POP GRP 1
REF5 POP GRP 1
REF6 POP GRP 2
REF7 POP GRP 2
REF8 POP GRP 1
REF9 POP GRP 2
REF10 POP GRP 2
REF11 POP GRP 1
REF12 POP GRP 1
REF13 POP GRP 2
REF14 POP GRP 1
REF15 POP GRP 2
REF16 POP GRP 2
REF17 POP GRP 1
REF18 POP GRP 2
REF19 POP GRP 1
REF20 POP GRP 2
REF21 POP GRP 2
REF22 POP GRP 2
REF23 POP GRP 2
REF24 POP GRP 2
REF25 POP GRP 2
REF26 POP GRP 2
REF27 POP GRP 2
REF28 POP GRP 2
REF29 POP GRP 2
REF30 POP GRP 2
REF31 POP GRP 2
REF32 POP GRP 2
REF33 POP GRP 2
REF34 POP GRP 2
REF35 POP GRP 2
REF36 POP GRP 2
REF37 POP GRP 2
REF38 POP GRP 2
REF39 POP GRP 2
REF40 POP GRP 2
REF41 POP GRP 1
REF42 POP GRP 2
REF43 POP GRP 1
REF44 POP GRP 2
REF45 POP GRP 1
REF46 POP GRP 2
REF47 POP GRP 2
REF48 POP GRP 2
REF49 POP GRP 2
REF50 POP GRP 2
REF51 POP GRP 1
REF52 POP GRP 2
REF53 POP GRP 2
REF54 POP GRP 2
REF55 POP GRP 1
REF56 POP GRP 2
REF57 POP GRP 1
REF58 POP GRP 2
REF59 POP GRP 1
REF60 POP GRP 2
REF61 POP GRP 1
REF62 POP GRP 2
REF63 POP GRP 1
REF64 POP GRP 2
REF65 POP GRP 1
REF66 POP GRP 2
REF67 POP GRP 2
REF68 POP GRP 2
REF69 POP GRP 1
REF70 POP GRP 2
REF71 POP GRP 1
REF72 POP GRP 2
REF73 POP GRP 1
REF74 POP GRP 2
REF75 POP GRP 1
